* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.tilangWrapper {
  height: 100vh;
  padding: 10px;
  background-color: #070618;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 20px;
  padding-bottom: 100px;
}
.tilangWrapper > footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
footer > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tilangWrapper > footer > div > img:nth-child(1),
.tilangWrapper > footer > div > img:nth-child(3) {
  height: 40px;
}
.tilangWrapper > footer > div > img:nth-child(2) {
  height: 10px;
  font-weight: 400;
}
footer > div > small {
  color: white;
  font-family: "Raleway Dots", cursive;
}
.tilangInnerWrapper {
  width: 100%;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 20px;
  border-radius: 10px;
}
.tilangInnerTop {
  flex: 0.7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}
.tilangInnerBottom {
  /* flex: 0.6; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.tableTuple {
  /* background-color: white; */
  outline-width: 1px;
  outline-style: dotted;
  outline-color: white;
  color: white;
  height: 80px;
  max-width: 900px;
  width: 100%;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.tableTuple img {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  background-color: black;
}
.tableTuple > div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
}
.tableTuple > span {
  font-size: 25px;
  font-weight: 800;
}
.commonteamcard {
  width: 300px;
  max-width: 25%;
  /* background-color: white; */
  aspect-ratio: 5/4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  outline-width: 3px;
  outline-style: dotted;
  color: white;
}
.teamcardWrapper:nth-child(1) {
  outline-color: #7d979e;
}
.teamcardWrapper:nth-child(2) {
  outline-color: #fcc201;
}
.teamcardWrapper:nth-child(3) {
  outline-color: #cc7e48;
}
.logo {
  width: 10vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  min-width: 50px;
  max-width: 120px;
  object-fit: cover;
}
.teamcardWrapper > div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.teamcardWrapper > img:nth-child(1) {
  background-color: black;
}
.teamcardWrapper > div > span:nth-child(1) {
  font-weight: 500;
  font-size: 1.5vw;
}
.teamcardWrapper > div > span:nth-child(2) {
  font-size: 30px;
  font-weight: 900;
}
.badge {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 10vw;
  max-width: 100px;
  min-width: 20px;
}
.backbutton {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 50px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  cursor: pointer;
}
.eventsfetchwrapperouter {
  width: 100%;
  max-width: 1350px;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.eventsfetchwrapper {
  color: #070618;
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.eventssinglewrapper {
  max-width: 300px;
  width: 100%;
  min-width: 290px;
  aspect-ratio: 1/0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  padding: 10px;
  border-radius: 10px;
  position: relative;
  color: white;
  outline-width: 1px;
  outline-style: dotted;
  outline-color: white;
  gap: 20px;
}
.eventssinglewrapper > span:nth-child(1) {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 500;
}
.eventssinglewrapper > span:nth-child(2) {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: 500;
}
.eventssinglewrapper > span:nth-child(4) {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 500;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
  color: darkgreen;
}
.eventssinglewrapper > span:nth-child(5) {
  /* background-color: lightcoral; */
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  outline-width: 1px;
  outline-style: dotted;
  outline-color: lightcoral;
}
@media all and (max-width: 600px) {
  .eventsfetchwrapper {
    justify-content: center;
  }
  .eventssinglewrapper {
    max-width: unset;
  }
}
